/*GLOBAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', ;
  color: black;
scroll-behavior: smooth;
}

h2 {
  text-align: center;
  overflow: hidden;
  margin-top: 15px;
}

h2 span {
  display: inline-block;
}

h2 span:before,
h2 span:after {
  content: '';
  height: 100%;
  display: inline-block;
  width: 1000px;
}

h2 span:before {
  margin-right: -100%;
  border-bottom: solid 2px;
  color: red;
  vertical-align: -0.4em;
  /* à regler selon */
}

h2 span:after {
  margin-left: -100%;
  vertical-align: top;
  border-top: solid 2px;
  color: red;
}

h2 {
  padding: 50px;
}

a {
  color: black;

}

#section a {
  color: #fff;
}

a:hover {
  color: red;
  text-decoration: none;
}

/*SCROLL*/


#scroll_to_top i {
  color: gray;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;

}



/*HEADER*/

#header {
  cursor: pointer;
  height: 104px;
}


.hero {

  background-size: cover;
  background-repeat: no-repeat;
  height: 400%;


}


/*CARROUSEL*/

.carousel-item {
  height: 400px;

}

.carousel-inner img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.carousel-inner {
  object-fit: contain;
  height: 100%;
  width: 100%;

}

.brian {
  width: 90%;
  margin: auto;
}



/*NAVIGATION*/


.olivia{
 display: flex;
 justify-content: center;
 
}
 .olivia2{
   display: flex;
   justify-content: space-around;
   width: 100%;

 }
/*TEXTE ACCROCHEUR*/
.titre-accrocheur {
  display: flex;
  justify-content: center;
}

#premier-tournoi {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.premier {
  position: relative;
  bottom: 1px;
  font-size: .6em;
  line-height: .4em;
  vertical-align: top;
  text-decoration: none;
  margin-right: 5px;
}


/*NAVIGATION carte*/

#menu-page {
  margin-bottom: 35px;
  margin-top: 35px;

}

.card {


  /* height: 100%;
  width: 350px;*/
  box-shadow: 0 7px 15px rgba(241, 7, 7, 0.9);


  -webkit-transition: all 2s ease;
  /* Safari et Chrome */
  -moz-transition: all 2s ease;
  /* Firefox */
  -ms-transition: all 2s ease;
  /* Internet Explorer 9 */
  -o-transition: all 2s ease;
  /* Opera */
  transition: all 2s ease;
}

.card:hover {
  -webkit-transform: scale(1);
  /* Safari et Chrome */
  -moz-transform: scale(1);
  /* Firefox */
  -ms-transform: scale(1);
  /* Internet Explorer 9 */
  -o-transform: scale(1);
  /* Opera */
  transform: scale(1.10);
  z-index: 1;
}


/*INFO PRATIQUE*/

.telecharger{
text-decoration:underline;
display: flex;
justify-content: center;
}

#Info h2 {
  display: flex;
  justify-content: center;

}

.fd1 {
  border: 4px solid black;

  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.fd2 {
  border: 4px solid black;
  height: 286px;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.fd3 {
  border: 4px solid black;
  height: 286px;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.fd4 {
  border: 4px solid black;
  float: center;
  text-align: center;
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

.pa {
  border: 2px solid black;
  color: brown;
  font-size: 20px;
}

.maps {
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.maps iframe {
  width: 80%;
  margin-top: 10px;
}

/*-------plan de la salle-----*/
.plan4 {
  width: 100%;
  height: 80;
  margin-bottom: 10px;
}

.plan3 {
  padding-bottom: 10px;
  padding-top: 50px;
  text-align: center;
}

.plan2 {
  padding-bottom: 10px;
  padding-top: 50px;
  text-align: center;
}

/*TOURNOI*/

#tournoi h2 {
  display: flex;
  justify-content: center;

}

.tournois {
  color: black;
  text-align: center;
  padding: 30px;
  /*font-size: 15px;*/
}

.famille-the {
  background-color: #cdf6e1;
}

.famille-details {
  background-color: #fff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;

}

.famille-details h5 p {
  margin-top: 30px;
}

.famille-details img {
  display: block;
  margin: 0 auto;
  width: 70%;
  object-fit: cover;
}

.rocket {
  height: 129.91px;
}

/*PARTENAIRES*/

#partenaires {
  height: 100%;
  background-color: #fff;
}

.mr-3 {
  padding: 40px;

}

#partenaires h2 {
  display: flex;
  justify-content: center;

}

.media {
  height: 350px;
  width: 300px;

}

.media img {
  /*border-radius: 20px;*/
  object-fit: contain;
  width: 100%;

}

/*CONTACT FORMULAIRE*/

/*---------CONTACT---*/
.contact-form {
  margin-bottom: 30px;
  text-align: center;
}

.contact-message {
  width: 100%;
}

.btn-contact {
  background-color: #8F1818;
  color: #fff;
}

#contact{
  margin-top: 40px;
  margin-bottom: 20px;
}



/*FOOTER*/

.adoum {
  color: #fff;

}

.container1 {
  word-spacing: 25px;
}

#footer {
  color: #fff;
  height: 60px;
  padding: 20px 20px;
}

.copyright {
  text-align: center;

}

.copyright a {
  color: #fff;
}

.contacter {
  font-size: 30px;
}

.Facebk {
  font-size: 20px;
}

#section {
  background-color: #8F1818;
  color: #fff;


}

.fa-facebook {
  color: #3B5998;
  font-size: 2em;
  margin-right: 1%;
}


/*MEDIA QUIERIES*/

/*PORTABLE*/

@media(max-width: 600px) {

.button1{
  float: right;
width: 100%;
}

  .icon-button{
      width: 100%;
  }
  span.navbar-toggler-icon.buton{
    float: right;
  }
    

  #premier-tournoi h1 {
    font-size: 15px;
  }

  #premier-tournoi h5 {
    font-size: 12px;
    text-align: center;

  }

  .philippe {
    display: none;
  }

  .card {
    margin-bottom: 20px;
    width: 100%;

  }

  #section {
    height: 100px;
    font-size: 10px;
  }

  h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: none;
  }

  img.plan4 {
       margin-bottom: 5rem;
  }

  .part {
    display: flex;
    justify-content: center;

  }
  .media{
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;

    
  }
}

/*TABLETTE*/

@media(min_width: 500) and (max-width: 959px) {

  #premier-tournoi h1 {
    font-size: 30px;

  }

  #premier-tournoi h5 {
    font-size: 12px;
    text-align: center;
  }
    .card-img {
      margin-bottom: 50px;
    }

    .card {
      margin-bottom: 20px;
      width: 100%;
  
    }

    #section {
      height: 300px;
      font-size: 7px;
    }


    .part {
      display: flex;
      justify-content: center;
    }

    

  }